/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"STARWARS";src:url("../fonts/STARWARS/STARWARS.eot?") format("eot"),url("../fonts/STARWARS/STARWARS.woff") format("woff"),url("../fonts/STARWARS/STARWARS.ttf") format("truetype"),url("../fonts/STARWARS/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* ---------- GENERAL ---------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background-image.jpg);
}

h1 {
  margin: 1em 0;
  text-align: center;
  font-family: 'STARWARS', sans-serif;
  font-size: 1.6em;
  color: #FFD700;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFD700;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFD700;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFD700;
  font-weight: 700;
  line-height: 1.8em;
}

div p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a{
  display: block;
  padding: 0.5em 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
  background-color: #FFD700;
  border: none;
  transition: 0.5s;
}

a:hover {
  background-color: #d1b100;
  cursor: pointer;
}

/* ---------- MAIN ---------- */

main {
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  text-align: center;
}

main > article {
  padding: 2.5em 1em;
  border: 1px solid #FFD700;
}

main > article > h2 {
  margin: 1em 0;
}

main > article > div {
  display: flex;
  margin: 2.5em 0;
  justify-content: space-around;
}

/* ----- MEDIA QUERY ----- */

@media (min-width: 768px) {

  main {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1024px) {

  h1 {
    font-size: 1.8em;
  }

}

@media (min-width: 1440px) {

  h1 {
    font-size: 2em;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
